.navbar {
  background: #000000;
  font-size: 1.3rem;
  line-height: 1.4;
}

.navbar-dark {
  --bs-navbar-color: rgba(255,255,255,0.55);
  --bs-navbar-hover-color: rgba(238,3,3,0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(225,17,17,0.1);
  --bs-navbar-toggler-icon-bg: url("https://mobiriseicons.com/svg/24px/mbri-extension.svg");
}

